/* CSS Reset
	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	
	body {
		line-height: 1;
	}
	
	ol, ul {
		list-style: none;
	}
	
	blockquote, q {
		quotes: none;
	}
	
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/* End CSS Reset		*/
/*						*/

/* Element Styles		*/
/*						*/
	
	/* Personal Resets  */
	html{
		font-family: Helvetica, Arial, Tahoma, Geneva, sans-serif;
	}
	
	body{
		color: #000000;
		background: #FFFFFF;
		
		width: 100%;
		height: 100%;
		text-align: center;
	}
	/* end Body */

	/* Headers */
	h1{
		font-size: 1.5em;
		font-weight: bold;
	}

	h2{
		font-size: 1.3em;
		font-weight: bold;
	}

	h3{
		font-size: 1.1em;
		font-weight: bold;
	}

	h4{
		font-weight: bold;
	}

	h5{
		font-size: .9em;
		font-weight: bold;
	}
	/* end Headers */

/* End Element Styles	*/
/*						*/

/* IDed Styles		*/
/*						*/
	#nojs{
		line-height: 2.5em;
		font-size: 13px;
		background: #CC3333;
		color: #FFFFFF;
		
		position: fixed;
		bottom: 0em;
		left: 10%;
		
		margin: 0em auto 0em auto;
		padding: 1em;
		
		width: 80%;
		z-index: 100000;
		
		border-radius: 1em 1em 0 0;
	}
/*	End IDed Styles	*/
/*						*/

/*	Class Styles		*/
/*						*/
	/* Clearfix */
		.clear:before,
		.clear:after {
			content: "";
			display: table;
		}
		.clear:after {
			clear: both;
		}
		.clear {
			zoom: 1; /* For IE 6/7 (trigger hasLayout) */
		}
	/* End Clearfix */
	
	/* Message Boxes */
		.message-box{
			padding: .6em;
			
			color:#545454;
		}

		.clean{
			background-color: #efefef;
			
			border-top: .125em solid #dedede;
			border-bottom: .125em solid #dedede;
		}

		.info{
			background-color: #f7fafd;
			
			border-top: .125em solid #b5d3ff;
			border-bottom: .125em solid #b5d3ff;
		}

		.okay{
			background-color: #d7f7c4;
			
			border-top: .125em solid #82cb2f;
			border-bottom: .125em solid #82cb2f;
		}
			
		.alert{
			background-color: #fef5be;
			
			border-top: .125em solid #fdd425;
			border-bottom: .125em solid #fdd425;
		}
			
		.error{
			background-color: #ffcdd1;
			
			border-top: .125em solid #e10c0c;
			border-bottom: .125em solid #e10c0c;
		}
	/* End Message Boxes */
	
	/* Text color, styling, decoration */
		.italics{font-style: italic;}
		.bold{font-weight: bold;}
		.underline{text-decoration: underline;}
		.no-dec{text-decoration: none !important;}
		.strike{text-decoration: line-through;}
		.keyword{text-shadow: 0 0 .1em #FFFFFF;}
		.sub{vertical-align: sub;}
		.sup{vertical-align: super;}
		.quote{font-style: italic;}
	/* End text color, styling, decoration */
	
	/* Positioning */
		.left{
			margin-right: auto;
			margin-left: 0;
		}
		.center{
			margin-left: auto;
			margin-right: auto;
		}
		.right{
			margin-right: 0;
			margin-left: auto;
		}
		
		.bump{margin-top: 1em;}
		.follow{margin-bottom: 1em;}
		.nudge{margin-left: 1em;}
		.push{margin-right: 1em;}

		.center-text{text-align: center;}
		.left-text{text-align: left;}
		.right-text{text-align: right;}
		
		.float-l{float: left;}
		.float-r{float: right;}
		
		.quote{
			margin-left: 4em;
			margin-right: 4em;
		}
	/* End positioning */
	
	/* Sizing */
		.huge{font-size: 1.5em;}
		.large{font-size: 1.25em;}
		.small{font-size: .75em;}
		.tiny{font-size: .5em;}
		
		.sub, .sup{font-size: .5em;}
		
		.w10{width: 10%;}
		.w20{width: 20%;}
		.w25{width: 25%;}
		.w30{width: 30%;}
		.w40{width: 40%;}
		.w50{width: 50%;}
		.w60{width: 60%;}
		.w70{width: 70%;}
		.w75{width: 75%;}
		.w80{width: 80%;}
		.w90{width: 90%;}
		.w100{width: 100%;}
	/* End sizing */
	
	/* Spacing */
		.tall{line-height: 1.3em;}
		.short{line-height: .75em;}
	/* End spacing */
	
	/* UI */
		.pointer{cursor: pointer;}
		.arrow{cursor: default;}
	/* End UI */
	
	/* Display and visibility */
		.hide{display: none;}
		.table{display: table;}
		.cell{display: table-cell;}
		.iblock{display: inline-block;}
	/* End display and visibility */
	
/*	End Class Styles	*/
/*						*/