<html>
<body>
	<div style="width: 600px; border: 2px solid #E9EBF6; margin: auto; font-size: 16px; color: #555555;">
		<h1 style="margin: 0; padding: 8px; background-color: #E9EBF6; text-align: center;">
			Hello, <?php echo $user->fname;?>!
		</h1>
		<div style="overflow: hidden; padding: 8px; padding-top: 0; background-color: #F5F6FB;">
			<p>You are receiving this email because you (or someone pretending to be you!) requested that your account be recovered.</p>
			<p>It's possible you forgot your password, or you forgot you even had an account.</p>
			<p>That's okay.</p>
			<p>To reset your password and log in, please <a href="http://nox.thomasrandolph.info/components/authentication/verify.php?code=<?php echo $hash;?>">click this link</a>.</p>
			<p>If you don't know what this is about, or you don't want the account, simply do nothing.</p>
			<p>The quick login link above is a one-time access pass to your account.  Please use it to reset your password and log in this time.</p>
			<br />
			<p>Thanks!</p>
			<p>-Nox</p>
		</div>
	</div>
</body>
</html>
